.mobile-nav{
    width: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 1;
    
}

.mobile-nav-header{
    height: 50px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    padding: 8px;
}

.mobile-nav-header .mobile-nav-icon{
    color: aliceblue;
    cursor: pointer;
}

.mobile-nav-title{
    margin-left: 20px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: capitalize;
    vertical-align: middle;
    font-size: 20px;
}


.mobile-nav-menu .nav-items{
    color: #ffffff !important;
    height: auto;
    width: 200px;
    background-color:rgb(238, 238, 238);
    padding: 10px;
    padding-bottom: 20px;
    border-bottom-right-radius: 10px;
}


@media (min-width:600px) {
    .mobile-nav{
        display: none;
    }
   
}