.navbar-profile-pic img{
border-radius: 50px;
 height: 120px;
 width: 120px;
 display: flex;
 vertical-align: middle;
 margin: 0 auto;
margin-top: 40px;

}

.nav-item{
    font-size: 18px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(35, 35, 35);
    margin-top: 28px;
    /* text-align: center; */
    margin-left: 25px;
}
.nav-link{
    margin-top: 20px;
    cursor: pointer;
}
.nav-link svg{
    margin-right: 10px;
    font-size: 25px;
}
.nav-link:hover{
    color:#f29f67;
}

.nav-link .active{
    color: #f29f67;
    border-left: 5px solid #f29f67;
    padding-left: 10px;
    text-decoration: none;
}